<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>654551614726-l0v3l118penp8d0stdih98c24uhgnfmt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.654551614726-l0v3l118penp8d0stdih98c24uhgnfmt</string>
	<key>API_KEY</key>
	<string>AIzaSyAiwZ3V9MkAUbzRRE1EJuXuzad_gKW1d4g</string>
	<key>GCM_SENDER_ID</key>
	<string>654551614726</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.plenka</string>
	<key>PROJECT_ID</key>
	<string>plenka-b61c3</string>
	<key>STORAGE_BUCKET</key>
	<string>plenka-b61c3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:654551614726:ios:4ebb8553ad76ed269dca87</string>
</dict>
</plist>